body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
}

.header {
  display: flex;
  height: 190px;
  width: 260px;
  background-color: #A09595;
  flex-direction: column;
  align-items: flex-end;
}

.calc-number {
  display: flex;
  font-size: 72px;
  color: white;
  margin-right: 10px;
}

.result {
  font-size: 50px;
  color: white;
  margin-right: 10px;
}

.numbers {
  width: 260px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #8A8A8A;
}

.number {
  width: 65px;
  height: 50px;
  border: 0;
  background-color: #f4ebe5;
  color: #bab3ae;
  font-size: 18px;
  font-weight: bold;
}

.footer {
  height: 20px;
  width: 260px;
  background-color: #A09595;
}